@import "main.css";

body {
  padding: 1rem;
  margin: 3rem 0;
}

main#corpo {
  width: 100%;
  max-width: 700px;

  border-radius: 4px;
  background: #373739;
  box-shadow: 30px 30px 60px #cecece, -30px -30px 60px #f2f2f2;

  color: var(--white);

  padding: 2rem 1rem;
  margin: 5rem auto 0;
}

section#sectionAddTarefas {
  margin-bottom: 2rem;
  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
#sectionAddTarefas input {
  background-color: var(--black_3);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 3px;

  flex: 1 1 auto;
  padding: 0.6rem 1rem;
  font-size: 0.95rem;
}
#sectionAddTarefas button#buttonAdd {
  background-color: var(--black_3);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button#buttonAdd img {
  width: 20px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
button#buttonAdd:hover img {
  transform: rotate(90deg);
}

@media (max-width: 425px) {
  body {
    padding: 0.2rem;
  }
}
